.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  font-family: rubik, helvetica, arial, sans-serif;
  background-image: url('anewhope.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.navbar-option {
  margin: 0px 16px 0px 16px;
  font-weight: bold;
  font-size: 75%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbar-title {
  margin: 0px 16px 0px 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-option:hover, .navbar-title:hover {
  color: #ffddaa;
}

.search {
  background-color: white;
  background-image: url('search.png');
  background-position: 10px 5px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 40px;
  max-width: 300px;
  height: 32px
}

.header-container {
  width: 100%; height: 48px; background-color: #8c1a19; display: flex; align-items: center; justify-content: space-between; padding: 0px 20px; box-sizing: border-box; position: fixed; top: 0; z-index: 1;
}

.header-options {
  display: flex; justify-content: flex-start; color: white; align-items: center
}

.content {
  margin: 48px auto;
  max-width: 1600px;
  background-color: white;
  border-radius: 5px;
}

.column-container {
  display: flex;
}

.outline {
  flex: 2;
  padding: 16px;
  background-color: #f2f2f2;
}

.outline-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 60px;
  overflow-y: auto;
  height: calc(100vh - 108px);
}

.article {
  flex: 7;
  padding: 16px;
}

.related {
  flex: 2;
  padding: 16px;
  background-color: #f2f2f2;
}

.related-container {
  position: sticky;
  top: 60px;
  height: calc(100vh - 108px);
}

.profile-image {
  max-width: 250px;
  display: block;
}

.profile {
  float: right;
  max-width: 260px;
  margin: 16px;
}

.article-title {
  margin: 24px 0px 0px;
  display: flex;
  align-items: center;
}

td {
  font-size: 85%;
}

.table-title {
  background-color: #ba7575;
  text-align: center;
  color: white;
}

.table-subsection {
  background-color: #ffddaa;
  padding: 4px 8px;
}

.table-entry {
  background-color: #e2e2e2;
  padding: 4px 8px;
}

.table-entry-alt {
  background-color: #fafafa;
  padding: 4px 8px;
}

p {
  line-height: 180%;
}

.section-header {
  margin: 24px 0px;
  scroll-margin-top: 60px;
  color: black;
  text-decoration: none;
  display: block;
}

.section-header:hover {
  color: #8c1a19;
}

.section-title {
  display: inline;
  scroll-margin-top: 60px;
}


.subsection-header {
  margin: 12px 0px;
  scroll-margin-top: 60px;
}

.outline-section {
  text-decoration: none;
  color: black;
  padding: 0px 8px;
  margin: 2px;
}

.outline-section:hover {
  background-color: #8c1a19;
  border-radius: 5px;
  color: white;
}

.active {
  background-color: #ba7575;
  border-radius: 5px;
}

.l1 {
  margin-left: 0px;
}

.l2 {
  margin-left: 16px;
}

.l3 {
  margin-left: 32px;
}

.l4 {
  margin-left: 48px;
}

.article-img {
  width: 48px;
  height: 48px;
  margin: 8px 8px 8px 0px;
  object-fit: cover;
}

.btn:hover {
  background-color: #8c1a19;
  color: white;
}

#r2-d2 {
  scroll-margin-top: 60px;
}

#banner {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.banner-image {
  position: relative;
  max-height: 100px;
}

.adlabel {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  font-size: 60%;
  padding: 1px;
}

.close-btn {
  border-radius: 16px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -12px;
  right: -12px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: #8c1a19;
  color: white;
  display: flex;
  padding: 2px;
}

.vertical {
  background-image: url('vertical-ad.png');
  height: 360px;
  width: 180px;
  background-size: cover;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
}

.adlabel-2 {
  background-color: white;
  font-size: 60%;
  padding: 1px;
  display: inline;
}

.footer {
  width: 100%;
  height: 120px;
  background-color: #280033;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-height: 60px;
  margin: 24px;
}

.footer-option {
  text-transform: uppercase;
  color: white;
  font-size: 75%;
  margin: 24px;
  font-weight: bold;
}